@use './vars';

.menu {
    display: none;
}

.navbar .navbar-logo {
    width: 100px;
    margin-bottom: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    border-bottom: 1px solid var(--very-light-pink);
}

.navbar-left {
    display: flex;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 16px;
    align-items: center;
}

.navbar-left ul li a {
    border: 1px solid var(--white);
    padding: 8px;
    text-decoration: none;
    color: var(--very-light-pink);
    font-weight: 700;
}

.navbar-left ul li a:hover {
    border: 1px solid var(--hospital-green);
    border-radius: 12px;
    color: var(--hospital-green);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 24px;
}

.navbar-right .email:hover {
    color: var(--hospital-green);
    cursor: pointer;
}

.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}

.navbar-shopping-cart div {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    padding: 2px 4px;
    font-size: 11px;
    font-weight: 700;
    background-color: var(--hospital-green);
    border-radius: 50%;
}

@media (max-width: 780px) {
    .menu {
        display: block;
    }

    .navbar-left ul,
    .email {
        display: none;
    }
}